.Container_Ui {
  display: flex;
  gap:50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eff6f1;
  height:60px;
  width: 100%;
  border-radius: 5%;
}


select {
  width: 100%;
  height: 30px;
  border-radius: 12px;     
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}


select:hover {
  border-color: #063906;
  box-shadow: 0 4px 8px rgba(149, 190, 136, 0.899);
}


input[type="date"] {
  width: 100%;
  padding: 12px;
  border-radius: 12px;     
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}


input[type="date"]:hover {
  border-color: #4a6cf7;
  box-shadow: 0 0 8px rgba(74, 108, 247, 0.2);
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
gap: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

