.search_bar {
  display: flex;
  align-items: center;
  gap: 10px;

 
  border-radius: 12px;
  
  max-width: 450px;
  margin: 20px auto;
transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.search_bar:hover {
  transform: translateY(-10px) scale(1.03);
 
}
.search_bar input {
height: 30px;
width:250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
 

}

.search_bar input:hover {
  border-color: #4a6cf7;
  box-shadow: 0 15px 12px rgba(74, 108, 247, 0.5);
}

.search_bar button {
 height: 40px;
 width: 60px;
  border-radius: 25px;
  background: #4a6cf7;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.search_bar button:hover {
  background: #3656d4;
  transform: translateY(-2px);
}

