.table {
  width: 100%;
  margin: 20px auto;
  overflow-x: auto;       
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background: #fff;
}


.table table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}


.table thead {
  background: #4b7bec;
  color: white;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table th, .table td:hover {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

